.bg_set {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  margin: 0 auto;
  width: 120rem;
}

.f_left {
  float: left;
}

.f_right {
  float: right;
}

.bl_btn {
  display: inline-block;
  padding: .8rem 0;
  width: 40%;
  background-color: #000;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.wt_btn {
  display: inline-block;
  padding: .8rem 0;
  width: 40%;
  background-color: #ddd;
  color: #000;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.sr_only {
  visibility: hidden;
}

.pagination {
  text-align: center;
}

.pagination ul {
  display: inline-block;
}

.pagination ul>li {
  float: left;
}

.pagination ul>li>a {
  width: 3rem;
  /* height: 100%; */
  height: 3.5rem;
  font-size: 1.5rem;
  line-height: 3.5rem;
  text-align: center;
}

.pagination ul>li.prev,
.pagination ul>li.next {
  width: 7rem;
}

.pagination ul>li:first-child>a,
.pagination ul>li:last-child>a {
  width: 7rem;
  line-height: 1.8rem;
}

.pagination ul>li.prev {
  margin-right: 2rem;
}

.pagination ul>li.next {
  margin-left: 2rem;
}

.pagination ul>li.prev button,
.pagination ul>li.next button {
  width: 100%;
}


section {
  padding: 10rem 0;
}